@page "/Movies/Director_Movie"
@model _2.Pages.Movies.Director_MovieModel
@{
    ViewData["Title"] = "Director Movies";
}

<h2>Directors</h2>
<div style="display: flex;">

    <div style="margin-right: 30px; width: 300px">
        @foreach (var director in Model.Directors)
        {
            <div>
                <a id="di_@director.Id" href="?directorId=@director.Id">
                    @director.FullName
                </a>
            </div>
        }
    </div>


    <div style="width: 1000px">
        <h2>List of Movies</h2>
        <table border="1" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Release Date</th>
                    <th>Description</th>
                    <th>Language</th>
                    <th>Director</th>
                    <th>Stars</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model.Movies)
                {
                    <tr>
                        <td id="td_title_@movie.Id">@movie.Title</td>
                        <td id="td_releaseDate_@movie.Id">@(movie.ReleaseDate?.ToString("MM/dd/yyyy") ?? "")</td>
                        <td id="td_description_@movie.Id">@(movie.Description ?? "")</td>
                        <td id="td_language_@movie.Id">@movie.Language</td>
                        <td id="td_director_@movie.Id">@(movie.Director?.FullName ?? "")</td>
                        <td id="td_stars_@movie.Id">@string.Join(",", movie.Stars.Select(s => s.FullName))</td>
                        <td id="td_action_@movie.Id">
                            <form method="post" asp-page-handler="Delete" id="form_delete_@movie.Id" style="display: inline;">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@movie.Id" />
                                @if (Request.Query.ContainsKey("directorId") && int.TryParse(Request.Query["directorId"], out int directorId))
                                {
                                    <input type="hidden" name="directorId" value="@directorId" />
                                }
                            </form>
                            <a id="btn_delete_@movie.Id" href="#" onclick="document.getElementById('form_delete_@movie.Id').submit(); return false;" style="color: blue; text-decoration: underline; cursor: pointer;">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

